@tailwind base;
@tailwind components;
@tailwind utilities;

.passthrough {
  pointer-events: none;
}
/* 
.grid-bg {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgb(255, 255, 255) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(255, 255, 255) 1px, transparent 1px);
    background-position: 19px;
} */


.grid-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#242424 2px, transparent 2px);
  background-size: 40px 40px;
  z-index: -1;
}

@keyframes scrollBackground {
  from { background-position: 0 0; }
  to { background-position: 0 100% ; }
}

.h-61 {
  height: 241px;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.flash {
  animation: flash 1s infinite;
}


.glow {
  text-shadow: 0 0 10px #ffffff57
}

.glow-blue {
  text-shadow: 0 0 10px rgb(37 99 235);

}